
@import '../base/settings';

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header >h1 {
    color: $off-white;
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header ul li a {
    margin: $s-size;
    border: 1px solid $off-white;
    padding: $s-size;
    color: $off-white;
}

@media only screen and (min-width: 600px) {

.header {
    flex-direction: row;
}


}