.shop-item-card-container {
    height: 20em;
    max-width: 10em;
    background-color: $dark-blue;
    margin: $s-size;
    border: 1px solid $off-white;
    padding: $s-size;
}

.shop-item-card-container >input[type="number"] {

max-width: 100%;
}

.image-container {
    width: 100%;

}

.image-container > img {
    width: 100%;

}

p {
    color: $off-white;
}